
  <div id="st-container" class="st-container">


    
    <nav class="st-menu st-effect-2" id="menu-2">
      <h2 class="icon icon-video">Movie Info</h2>
      <ul *ngIf="selectedMovie">
        <li><a class="icon icon-tag" href="#">Title | {{selectedMovie.original_title}}</a></li>
        <li><a class="icon icon-calendar" href="#">Release | {{selectedMovie.release_date}}</a></li>
        <li><a class="icon icon-like" href="#">Rating | {{selectedMovie.vote_average}}</a></li>
        <li><a class="icon icon-star" href="#">Reviews | {{selectedMovie.vote_count}}</a></li>
        <li><a class="icon icon-photo" href="#">Official poster  <img class="img-thumbnail ml-5 mt-3" src="http://image.tmdb.org/t/p/w154/{{selectedMovie.poster_path}}" alt=""></a></li>
      </ul>
      
    </nav>

    <!-- content push wrapper -->
    <div class="st-pusher">

      <div class="st-content"><!-- this is the wrapper for the content -->
        <div class="st-content-inner"><!-- extra div for emulating position:fixed of the menu -->
          <div class="main clearfix">
        
            
              
              <div class="collapse bg-dark" id="navbarHeader">
                <div class="container">
                  <div class="row">
                    <div class="col-sm-8 py-4">
                      <h4 class="text-white">About</h4>
                      <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
                    </div>
                    <div class="col-sm-4 py-4">
                      <h4 class="text-white">Contact</h4>
                      <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Follow on Twitter</a></li>
                        <li><a href="#" class="text-white">Like on Facebook</a></li>
                        <li><a href="#" class="text-white">Email me</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="navbar navbar-dark bg-dark">
                <div class="container d-flex justify-content-between">
                  <a href="#" class="navbar-brand">Menu</a>
                  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                </div>
              </div>
          
              <section  class="jumbotron text-center" style=" background-image:url(assets/img/film_wallpaper.jpg);background-position:bottom;border-top-left-radius: 0; border-top-right-radius: 0;">
                <div class="container">
                  <h1 class="jumbotron-heading">New Releases</h1>
                  
                  <p class="lead text-muted">Check what's now on screens.</p>
                    <!-- <a href="#" class="btn btn-primary" (click)="onChangeList()" >Main call to action</a>
                    <a href="#" class="btn btn-primary" (click)="onChangeList()" >Secondary action</a> -->
                 
                </div>
              </section>
          
              <div class="album text-muted">
                <div  class="container">
          
               <div  class="row"  >
          <div class="col-md-4"  *ngFor="let item of items" >
            <div class="card mb-5" style="width: 20rem; background-color:#343a40!important;">
              <img class="card-img-top" src="http://image.tmdb.org/t/p/w500/{{item.poster_path}}" alt="Card image cap">
              <div class="card-body">
                <h4 class="card-title"></h4>
                <p class="card-text"><strong style="color:#f3efe0;">On screens:</strong> {{item.release_date}}</p>
                <div id="st-trigger-effects">
                  <button class="trigger btn-block" data-effect="st-effect-2" (click)="onSelect(item)" data-toggle="modal" data-target="#myModal">Info</button>
                </div>
               
              </div>
            </div>
          </div>
               </div>
          
                </div>
              </div>
          
            
           


              

            
      
          </div><!-- /main -->
        </div><!-- /st-content-inner -->
      </div><!-- /st-content -->
    </div><!-- /st-pusher -->
  </div><!-- /st-container -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="selectedMovie" >
      <div class="modal-header">
          <img class="img-thumbnail" src="http://image.tmdb.org/t/p/w500/{{selectedMovie.backdrop_path}}" alt="">

      </div>
      <div class="modal-body">
          <h5 class="modal-title" id="exampleModalLabel" style="color:#2c774b;">Overview</h5>
          <p style="color:#aca89a;">{{selectedMovie.overview}}</p>
          <hr>
          <h6 class="mb-3">Posters:</h6>
         
          <div class="card-group" >
              <div class="card" *ngFor="let item of (images ? images.slice(0,4): [])">
                <div class="card-body">
                    <img  class="img-thumbnail" src="http://image.tmdb.org/t/p/w92/{{item.file_path}}" alt="">
                </div>
              </div>
          </div>
          
            <h6 class="mt-3 mb-4" >Reviews:</h6>
            
          <div class="card mt-2 mb-2" *ngFor="let item of reviews">
              <div class="card-header">
                {{item.author}}
              </div>
              <div class="card-body">
                <p class="card-text" style="color:#aca89a;">{{item.content | slice:0:100}}...</p>
                <a href="{{item.url}}" class="btn btn-dark" target="_blank">Check complete review</a>
              </div>
            </div>
      </div>
        <div class="modal-footer" >
            <button type="button" class="trigger" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

 
